.cart-page {
  color: #1a3a23;
  background-color: #c2eace;
  margin: 0;
  min-height: calc(100vh - 220px);
}

.cart-title-items-container {
  height: 100%;
  position: relative;
  padding: 0 30px;
  max-width: 1600px;
  margin: 0 auto;
}

.cart-title {
  color: #1a3a23;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px;
  margin: 0;
}

.cart-content-wrapper {
  display: flex;
  flex-direction: column;
}

.cart-items {
  width: 100%;
  background-color: #89c299;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #1a3a23;
  box-sizing: border-box;
}

.cart-content-wrapper.empty {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.empty-cart {
  width: 500px;
  background-color: #89c299;
  padding: 40px 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #1a3a23;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.empty-cart-text {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin: 0;
  color: #1a3a23;
}

.empty-cart button {
  width: 130px;
  font-size: 14px;
  letter-spacing: normal;
}

.order-summery-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.order-summery-cart {
  width: 100%;
}

.order-summery-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.checkout-btn,
.back-menu-btn {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px 0px;
  width: 220px;
  border: 1px solid #1a3a23;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.1s ease, filter 0.1s ease;
}

.checkout-btn {
  background-color: #1a3a23;
  color: #89c299;
}

.back-menu-btn {
  background-color: #89c299;
  color: #1a3a23;
}

.checkout-btn:hover {
  background-color: #122818;
}

.back-menu-btn:hover {
  background-color: #6b9c79;
}

/* Media queries för olika skärmstorlekar */
@media (min-width: 1024px) {
  .cart-content-wrapper {
    flex-direction: row;
    gap: 20px;
  }

  .cart-items {
    width: 70%;
  }

  .order-summery-container {
    width: 30%;
  }
}

@media (max-width: 1023px) {
  .order-summery-btn {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .cart-title {
    font-size: 36px;
  }

  .cart-title-items-container {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .cart-title {
    font-size: 28px;
  }
}
