.footer {
  background-color: #bce0c6;
  height: 120px;
  display: flex;
  align-items: center;
}

.contact-information {
  display: flex;
  flex-direction: column;
  margin-left: 97px;
  color: #1a3a23;
  font-size: 12px;
  font-weight: 400;
}

.drone-delights-footer {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin: 0;
}

.contact-information p,
.contact-information a {
  margin: 2px 0;
  display: block;
  color: #1a3a23;
  text-decoration: none;
}

@media (max-width: 480px) {
  .contact-information {
    margin-left: 30px;
  }
}
