.header {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.navbar {
  background-color: #5a976b;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 30px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-image {
  height: 95px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(7%) sepia(18%) saturate(3486%)
    hue-rotate(86deg);
}

.header a {
  text-decoration: none;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
  color: inherit;
  text-decoration: none;
}

.drone-delights-header {
  color: #122818;
  font-size: 30px;
  line-height: 110%;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.symbols {
  display: flex;
  height: 115px;
  gap: 60px;
  align-items: center;
  margin-right: 50px;
}
.symbols a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: transform 0.2s;
}
.symbols a:hover {
  transform: scale(1.1);
}
.icon {
  width: auto;
  height: 40px;
  fill: #122818;
}

.shopping-cart {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -2px;
  right: -1px;
  background-color: #000000;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* Media queries for responsiveness */
@media (max-width: 780px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .logo {
    width: 90%;
    min-width: auto;
    margin: 0 auto;
  }

  .symbols {
    width: auto;
    height: 70px;
    gap: 50px;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .icon {
    width: auto;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 90%;
    min-width: auto;
    margin: 0 25px 0 0;
  }

  .logo-image {
    height: 65px;
  }

  .drone-delights-header {
    font-size: 22px;
    line-height: 100%;
    margin: 0;
  }

  .symbols {
    gap: 40px;
    height: 35px;
    margin: 0 auto;
  }

  .symbols a {
    padding: 5px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .cart-badge {
    width: 14px;
    height: 14px;
    font-size: 9px;
    top: -3px;
    right: -2px;
  }
}
