.header {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.navbar {
  background-color: #439159;
  width: 100%;
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background: rgba(137, 194, 153, 0.56);
  border-radius: 6px;
  min-width: 487px;
  height: 83px;
  margin-left: 32px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}
.drone-delights-header {
  color: #1e4128;
  font-size: 48px;
  line-height: 110%;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.symbols {
  display: flex;
  width: 474px;
  height: 115px;
  gap: 71px;
  align-items: center;
  margin-right: 70px;
}
.symbols a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: transform 0.2s;
}
.symbols a:hover {
  transform: scale(1.1);
}
.icon {
  width: auto;
  height: 45px;
  fill: #122818;
}
/* Media queries for responsiveness */
@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 16px 0;
  }

  .logo {
    width: 90%;
    min-width: auto;
    margin: 0 auto;
  }

  .symbols {
    width: auto;
    height: 70px;
    gap: 50px;
    justify-content: center; /* centrera symbolerna */
    margin: 0 auto;
    flex-wrap: wrap; /* om du har fler symboler så de inte hamnar utanför */
  }

  .icon {
    width: auto;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 90%;
    min-width: auto;
    margin: 0 auto;
  }

  .symbols {
    gap: 16px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
