.hero {
  height: 320px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../assets/pictures/hero.jpg");
  background-position: 0% 65%;
}

.slogan-container {
  width: 350px;
  height: 150px;
  position: absolute;
  right: 60px;
  top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan-box {
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(7px);
}

.slogan-text {
  width: 333px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-tagline {
  color: #122818;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 28px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px;
  text-align: center;
  align-self: center;
}

/* Responsiv design */
@media (max-width: 768px) {
  .slogan-frame {
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 390px;
  }

  .slogan-text {
    width: 90%;
  }

  .hero-tagline {
    font-size: 28px;
  }

  .speed-flavour-list {
    font-size: 20px;
  }
}
