.menu-page {
  background-color: #def1e4;
  margin: 0;
  min-height: calc(100vh - 220px);
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 20px;
  padding: 2rem 2rem 2rem 3rem;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
  align-items: start;
}

.menu-page .product-card {
  width: 230px;
  height: 340px;
}

.menu-page .dish-image {
  height: 230px;
}

.menu-page .dish-name {
  font-size: 16px;
}

.menu-page .price,
.menu-page .description {
  font-size: 14px;
}

.menu-page .description {
  line-height: 1.4;
}

.no-search-results {
  text-align: center;
  font-size: 16px;
  color: #1a3a23;
  font-style: italic;
}

@media (max-width: 1000px) {
  .menu-items {
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 16px;
    padding: 1rem;
  }

  .menu-page .product-card {
    width: 210px;
    height: 330px;
  }

  .menu-page .dish-image {
    height: 210px;
  }
}

@media (max-width: 768px) {
  .menu-items {
    grid-template-columns: repeat(auto-fit, 180px);
    gap: 12px;
  }

  .menu-page .product-card {
    width: 170px;
    height: 300px;
  }

  .menu-page .dish-image {
    height: 170px;
  }

  .menu-page .dish-name {
    font-size: 14px;
  }

  .menu-page .price,
  .menu-page .description {
    font-size: 12px;
  }

  .menu-page .add-button {
    font-size: 12px;
    padding: 5px 10px;
    bottom: 45px;
    right: 2px;
  }

  .menu-page .row:last-child {
    padding-right: 60px;
  }
}

@media (max-width: 480px) {
  .menu-items {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    justify-items: center;
  }

  .menu-page .product-card {
    width: 160px;
    height: 285px;
  }

  .menu-page .dish-image {
    height: 160px;
  }

  .menu-page .dish-name {
    font-size: 13px;
    padding-right: 10px;
  }
}
